.navi {
    text-align: center;
    background-color:'#000000' !important;
    color:'#bd2130' !important;
    font-size:'25px' !important; 
}

.main {
    min-height: 70vh;
    background-color:white; 
    padding: 50px 20px;
    font-size: 25px;
    z-index: 10;
}

.form {
    padding: 20px;
    text-align: center;
    /* background-color: brown; */
}

.left {
    float: left;
    padding-left: 20px;
    color: teal;
}

.input {
    color: #bd2130;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;    
    transition: all 1s linear;
}

.input:focus {
    outline: none; 
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
    color: #AAA;
    font-size: 20px;
  }
 
.image { 
    height: 350px;
    width: 350px;
    
}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
}

a:link {
    text-decoration: none;
  }
  